<h1>Welcome to Blocipedia</h1>
<p id="index-title">This is the home page for Sylvia's Blocipedia.</p>
<div class="posts">Placeholder in case I need something like this here.</div>
<div class="posts">Or here.</div>
<section>Placeholder for the content in a section element.</section>
